In [4]:
import pandas as pd

# 전체파일 통합

In [5]:
df = pd.DataFrame()

In [11]:
for i in range(80):
    file_path = '../data/trfcard({})/trfcard.csv'.format(i)
    df_temp = pd.read_csv(file_path)
    df = pd.concat([df,df_temp], ignore_index=True)

In [12]:
# 결측치 체크
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842608 entries, 0 to 842607
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   on_date      842608 non-null  int64
 1   off_date     842608 non-null  int64
 2   route_name   842608 non-null  object
 3   descr        842608 non-null  object
 4   age_type     842608 non-null  object
 5   trans_yn     842608 non-null  object
 6   addfee_yn    842608 non-null  object
 7   start_bstop  842608 non-null  object
 8   start_gps_x  842608 non-null  float64
 9   start_gps_y  842608 non-null  float64
 10  end_bstop    842608 non-null  object
 11  end_gps_x    842608 non-null  float64
 12  end_gps_y    842608 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 83.6+ MB

In [13]:
# 이상치 체크
df.describe()

,on_date,off_date,start_gps_x,start_gps_y,end_gps_x,end_gps_y
count,8.426080e+05,8.426080e+05,842608.000000,842608.000000,842608.000000,842608.000000
mean,2.020017e+13,2.020017e+13,129.369875,36.033987,129.369699,36.030874
std,6.691819e+07,6.691830e+07,0.051007,0.044272,0.042348,0.034512
min,2.020010e+13,2.020010e+13,129.025585,35.804119,129.025585,35.804119
25%,2.020012e+13,2.020012e+13,129.350290,36.010240,129.353856,36.013250
50%,2.020013e+13,2.020013e+13,129.365486,36.031170,129.365281,36.033732
75%,2.020022e+13,2.020022e+13,129.384770,36.064088,129.371682,36.045735
max,2.020033e+13,2.020040e+13,129.579045,36.303479,129.579045,36.303479

In [14]:
# 중복값 체크
df.duplicated().sum()

0

# 컬럼명 한글로 변환

In [23]:
file_path = '../data/trfcard(0)/trfcard_columns.xlsx'
col_kor_name = pd.read_excel(file_path,
                             skiprows=[0,1], usecols='B:C')
col_kor_name

       컬럼명 (영문)     컬럼명 (한글)
0       on_date         승차시각
1      off_date         하차시각
2    route_name          노선명
3         descr         노선설명
4      age_type         승객연령
5      trans_yn         환승여부
6     addfee_yn       추가운임여부
7   start_bstop        승차정류장
8   start_gps_x  승차정류장 GPS X
9   start_gps_y  승차정류장 GPS Y
10    end_bstop        하차정류장
11    end_gps_x  하차정류장 GPS X
12    end_gps_y  하차정류장 GPS Y

In [18]:
col_kor_name_list = col_kor_name.to_dict('records')
col_kor_name_list

[{'컬럼명 (영문)': 'on_date', '컬럼명 (한글)': '승차시각'},
 {'컬럼명 (영문)': 'off_date', '컬럼명 (한글)': '하차시각'},
 {'컬럼명 (영문)': 'route_name', '컬럼명 (한글)': '노선명'},
 {'컬럼명 (영문)': 'descr', '컬럼명 (한글)': '노선설명'},
 {'컬럼명 (영문)': 'age_type', '컬럼명 (한글)': '승객연령'},
 {'컬럼명 (영문)': 'trans_yn', '컬럼명 (한글)': '환승여부'},
 {'컬럼명 (영문)': 'addfee_yn', '컬럼명 (한글)': '추가운임여부'},
 {'컬럼명 (영문)': 'start_bstop', '컬럼명 (한글)': '승차정류장'},
 {'컬럼명 (영문)': 'start_gps_x', '컬럼명 (한글)': '승차정류장 GPS X'},
 {'컬럼명 (영문)': 'start_gps_y', '컬럼명 (한글)': '승차정류장 GPS Y'},
 {'컬럼명 (영문)': 'end_bstop', '컬럼명 (한글)': '하차정류장'},
 {'컬럼명 (영문)': 'end_gps_x', '컬럼명 (한글)': '하차정류장 GPS X'},
 {'컬럼명 (영문)': 'end_gps_y', '컬럼명 (한글)': '하차정류장 GPS Y'}]

In [19]:
# 깨끗한 딕셔너리 변수 생성
new_dict = {}

In [24]:
for i in col_kor_name_list:
    key,value = i.values()
    new_dict[key] = value
    
df_kor = df.rename(columns=new_dict)
df_kor

,승차시각,하차시각,노선명,노선설명,승객연령,환승여부,추가운임여부,승차정류장,승차정류장 GPS X,승차정류장 GPS Y,하차정류장,하차정류장 GPS X,하차정류장 GPS Y
0,20200103051542,20200103053306,500,문덕-시외터미널-흥해-청하-월포,일반,N,N,문덕사거리,129.403442,35.962846,대잠사거리,129.344492,36.011164
1,20200103052028,20200103053715,101,양덕-고속터미널-동해,일반,N,N,삼성쉐르빌,129.405116,36.086449,북구청,129.367128,36.041941
2,20200103052103,20200103055811,131,양덕-송도-시청-양학-양덕,일반,N,N,우방비치타운,129.376287,36.054774,시외버스터미널,129.350290,36.013280
3,20200103052126,20200103053837,101,양덕-고속터미널-동해,일반,N,N,풍림아이원,129.401705,36.085096,중앙상가,129.365281,36.037455
4,20200103052217,20200103053227,108,양덕-죽도-양학-시청-유강-지곡,일반,N,N,장량휴먼시아,129.383462,36.090800,두호초등학교,129.371202,36.064088
...,...,...,...,...,...,...,...,...,...,...,...,...,...
842603,20200102232423,20200102233802,102,문덕-남구청-고속터미널-북구보건소-양덕,일반,Y,N,죽도시장,129.365486,36.034110,문화예술회관,129.365551,36.010599
842604,20200102232449,20200102232657,200,양덕-남구청(야구장)-구룡포,일반,N,N,형산로터리,129.368470,36.011630,뱃머리 평생학습원,129.354538,36.009020
842605,20200102232849,20200102233230,500,문덕-시외터미널-흥해-청하-월포,일반,N,N,남부경찰서,129.344637,36.005408,연일전통시장,129.349210,35.997120
842606,20200102233518,20200102235624,107,문덕-시외(고속)터미널-흥해,일반,N,N,쌍용사거리,129.354637,36.015728,화이트빌라,129.406610,35.957090
842607,20200102235936,20200103000017,108,양덕-죽도-양학-시청-유강-지곡,일반,N,N,장량휴먼시아,129.384057,36.090840,법원검찰청,129.387075,36.090211

In [25]:
df_kor.to_csv('../data/trfcard_result.csv', index=False)